[submodule "core"]
	path = core
	url = https://github.com/LucidFusionLabs/core
	branch = master
[submodule "LTerminal"]
	path = LTerminal
	url = https://github.com/LucidFusionLabs/LTerminal
[submodule "CrystalBawl"]
	path = CrystalBawl
	url = https://github.com/LucidFusionLabs/CrystalBawl
[submodule "FusionSensor"]
	path = FusionSensor
	url = https://github.com/LucidFusionLabs/FusionSensor
[submodule "SpaceballFuture"]
	path = SpaceballFuture
	url = https://github.com/LucidFusionLabs/SpaceballFuture
[submodule "Photoducer"]
	path = Photoducer
	url = https://github.com/LucidFusionLabs/Photoducer
[submodule "TepidFusion"]
	path = TepidFusion
	url = https://github.com/LucidFusionLabs/TepidFusion
[submodule "TinyBrowser"]
	path = TinyBrowser
	url = https://github.com/LucidFusionLabs/TinyBrowser
[submodule "QuakeClone"]
	path = QuakeClone
	url = https://github.com/LucidFusionLabs/QuakeClone
[submodule "LucidTrader"]
	path = LucidTrader
	url = https://github.com/LucidFusionLabs/LucidTrader
[submodule "BlasterMaster"]
	path = BlasterMaster
	url = https://github.com/LucidFusionLabs/BlasterMaster
[submodule "JITLab"]
	path = JITLab
	url = https://github.com/LucidFusionLabs/JITLab
[submodule "OldChess"]
	path = OldChess
	url = https://github.com/LucidFusionLabs/OldChess
